@font-face {
  font-family: Roboto;
  src: url(/fonts/roboto/Roboto-Regular.woff);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(/fonts/roboto/Roboto-Medium.woff);
}

body {
  background-color: white;
}

header {
  background-color: #000000;
  color: white;
  margin-bottom: 1em;
  padding: 5%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

header h1 {
  font-family: Oswald;
  font-size: 2.5rem;
  margin: 0;
}

i.material-icons:not(.exception) {
  position: relative;
  bottom: -0.25em;
}

#backToGroupsBtn {
  left: 24;
  right: auto;
}

.outlined-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #00000000;
  border: 1px solid #00b460;
  border-radius: 2px;
  color: #00b460;
  cursor: pointer;
  font-family: Roboto-Medium;
  font-size: 1.225em;
  padding: 0.5rem;
  text-transform: uppercase;
}

.outlined-btn:hover {
  background-color: #00b460;
  color: white;
}

#newGroupBtn {
  text-align: center;
  margin: 0 0.5rem;
  width: calc(100vw - 1rem);
}

#groupsList li {
  background-color: #FAFAFA;
  cursor: pointer;
  font-family: Roboto;
  font-size: 1.25rem;
  padding: 1rem;
}

#groupsList li:hover {
  background-color: #EEEEEE;
}

.message {
  display: flex;
  justify-content: space-between;
}

.messageByMe {
  border-radius: 2px;
  background-color: #00b460;
  font-size: 1.25rem;
  text-align: right;
  margin: 0.5rem;
  padding: 1rem;
  position: relative;
  word-wrap: break-word;
  max-width: calc(100vw - 2rem);
}

.messageByMe:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #00b460;
  border-bottom: 0;
  border-right: 0;
  margin-left: -5px;
  margin-bottom: -10px;
}

.message img {
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  margin-bottom: -0.5rem;
}

.messageByOthers {
  border-radius: 2px;
  background-color: #F44336;
  font-size: 1.25rem;
  text-align: left;
  margin: 0.5rem;
  padding: 1rem;
  position: relative;
  word-wrap: break-word;
  max-width: calc(100vw - 2rem);
}

.messageByOthers:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #F44336;
  border-bottom: 0;
  border-left: 0;
  margin-right: -5px;
  margin-bottom: -10px;
}

#sendMessage {
  background-color: #242424;
  border-radius: 2px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.outlined-text-field {
  background-color: #FFFFFF10;
  border: 1px solid #7f7f7f;
  border-radius: 3px;
  caret-color: #00b460;
  color: #7f7f7f;
  padding: 0.75rem;
  width: calc(100% - 4rem);
}

.outlined-text-field:focus {
  border: 2px solid #00b460;
  color: #FFFFFF;
}

.combined-input-field {
  height: 3rem;
  position: relative;
}

.combined-input-field input {
  background-color: #00000000;
  border: 2px solid #7f7f7f;
  border-right: none;
  border-radius: 4px 0 0 4px;
  color: #7f7f7f;
  caret-color: #00b460;
  height: 100%;
  width: calc(100% - 3rem);
  padding-left: 0.75rem;
  position: absolute;
  bottom: 0;
}

.combined-input-field .button {
  display: inline-block;
  border: 2px solid #7f7f7f;
  border-radius: 0 4px 4px 0;
  color: #7f7f7f;
  height: 100%;
  width: 3rem;
  position: relative;
  left: calc(100% - 3rem);
}

.combined-input-field .button i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30% 0 0 -30%;
}

.combined-input-field input:focus {
  border-color: #00b460;
  color: #FFFFFF;
}

.combined-input-field input:focus + .button {
  border-color: #00b460;
  color: #00b460;
}
