body {
  overflow-x: hidden;
}

#collabicubeHeader nav {
  height: 5em;
}

#websiteTitle {
  margin-left: 10px;
}

#collabicubeHeader #loggedStatus {
  background-color: black;
}

#collabicube {
  background-color: #242424;
  height: calc(100vh - 5em + 10px);
  padding-top: 10px;
}

#collabicube iframe {
  border-radius: 2px;
  height: calc(100vh - 7em);
  width: 35vw;
  margin: 1rem;
}

@media (max-width: 500px) {
  #collabicube iframe {
    width: calc(100% - 2rem);
    height: calc(100% - 7.5rem);
  }
}

#timer {
  background-size: 100%;
  text-align: center;
  padding: 1px;
  position: absolute;
  right: 3vw;
  top: 6.5rem;
  width: 55vw;
  height: calc(100vh - 7em - 10px);
}

.valign-wrapper:not(.floating-btn) {
  height: calc(100vh - 7em -10px);
}

#time {
  margin: auto;
  margin-top: 27%;
}

#red, #green {
  border-radius: 100%;
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  left: calc(50% - 1em);
}

#red {
  top: 32%;
}

#green {
  top: calc(32% + 2.5em);
}

#collabicubePanel {
  text-align: left;
  height: calc(100vh - 7rem - 75% - 10px);
  position: absolute;
  right: 0;
  left: 0;
  top: 75%;
}

#scramble {
  font-size: 1.5em;
  margin-right: 15vw;
  word-wrap: break-word;
}

#scrambleImage {
  border-radius: 3px;
  padding: 10px;
  height: 100%;
  width: 15vw;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
