/*
  Media Queries
*/

@media only screen and (max-width: 600px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important;
  }

  #signinDivision, #signupDivision {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media only screen and (min-width: 993px) {
  .hide-on-large-only {
    display: none !important;
  }

  #signinDivision, #signupDivision {
    padding-left: 25vw;
    padding-right: 25vw;
  }
}

@media only screen and (min-width: 601px) {
  .show-on-medium-and-up {
    display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  .show-on-medium-and-down {
    display: block !important;
  }
}

@media only screen and (min-width: 1600px) {
  #signinDivision, #signupDivision {
    padding-left: 35vw;
    padding-right: 35vw;
  }
}

@media only screen and (max-width: 425px) {
  #profileHeader .shrink-on-small {
    font-size: 5vmin;
  }

  #profileBody .shrink-on-small {
    font-size: 3vmin;
  }
}

@media only screen and (max-height: 385px) {
  .hide-on-short-only {
    display: none;
  }
}

/*
  Loading spinner
*/

#sk-cube-grid {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  .sk-cube {
    width: 33%;
    height: 33%;
    background-color: white;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }

  .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

/*
  Variables
*/

$mdc-theme-primary: #1565C0;
$mdc-theme-secondary: #c07015;
$mdc-theme-on-primary: #FFFFFF;
$mdc-theme-on-secondary: #000000;
$mdc-theme-primary-dark: #0D47A1;
$error: #e53935;
$warning: #F9A825;

@font-face {
  font-family: Roboto-Medium;
  src: url(/fonts/roboto/Roboto-Medium.woff);
}

/*
  Imports
*/

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Titillium+Web');
@import "@material/theme/mdc-theme";
@import "@material/button/mdc-button";
@import "@material/fab/mdc-fab";
@import "@material/form-field/mdc-form-field";
@import "@material/floating-label/mdc-floating-label";
@import "@material/select/mdc-select";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/checkbox/mdc-checkbox";
@import "@material/radio/mdc-radio";
@import "@material/notched-outline/mdc-notched-outline";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/elevation/mdc-elevation";
@import "@material/drawer/mdc-drawer";
@import "@material/dialog/mdc-dialog";
@import "@material/snackbar/mdc-snackbar";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/typography/mdc-typography";

/*
  Material Components
*/

.mdc-top-app-bar {
  z-index: 2;
}

.mdc-top-app-bar__title {
  cursor: pointer;
  font-family: Play;
  font-size: 2rem;
}

.mdc-drawer__header {
  @include mdc-drawer-title-ink-color($mdc-theme-on-primary);
  background-image: url('/images/material_bg.png');
  background-size: 100%;
  padding: 15% 1rem 20% 1rem;

  h3 {
    display: inline-block;
    font-family: Play;
    font-size: 1.75rem;
    padding-left: 0.5rem;
  }

  h6 {
    color: $mdc-theme-on-primary !important;
  }

  img {
    height: 2rem;
    transform: translateY(25%);
  }
}

.mdc-select__native-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.mdc-radio {
  @include mdc-radio-checked-stroke-color($mdc-theme-primary);
  @include mdc-radio-ink-color($mdc-theme-primary);
  @include mdc-radio-focus-indicator-color($mdc-theme-primary);
}

/*
  Other Stuff
*/

body {
  background-color: #1a237e;
  background-image: url('/images/textures/cubes.png');
  height: 100%;
  margin: 0;
  padding: 0;
}

#profileLinkInHeader img {
  border-radius: 100%;
}

#division {
  background-color: #FFFFFF;
  min-height: 75vh;
  padding: 64px 10vw 10px 10vw;
}

@media only screen and (max-width: 620px) {
  #division {
    padding-top: 53px;
  }
}

h2 {
  font-family: Cabin;
  font-size: 1.5rem;
}

h3 {
  font-family: Roboto-Medium;
}

p {
  text-align: justify;
  font-family: 'Roboto';
  font-size: 1.225rem;
}

textarea {
  resize: none;
}

ol li {
  font-family: 'Roboto';
}

.instruction-img {
  max-height: 75vh;
  max-width: 75vw;
}

.hide {
  display: none !important;
}

#githubBtn, #gitlabBtn {
  @include mdc-button-container-fill-color(#FFFFFF);
  @include mdc-button-corner-radius(3px);
  font-family: Roboto-Medium;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.75);
  height: 40px;
  letter-spacing: 0;
  margin: 1rem 0 1rem 0;
  padding: 8px;
  text-transform: none;

  img {
    height: 18px;
    margin-right: 5px;
  }
}

#pageFooter {
  background-color: $mdc-theme-primary;
  color: $mdc-theme-on-primary;
  font-family: Roboto;
}

#footerBox {
  display: flex;
  padding: 1rem;
}

.footerLeftDiv {
  width: 50vw;
}

.footer-copyright {
  background-color: $mdc-theme-primary-dark;
  padding: 1rem;
}

/*
  Home Page
*/

#homeDiv {
  min-height: 65vh;
}

#box1, #box2, #box3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#box1 {
  background-color: #242424;
}

#box1 p, #box1 h2 {
  color: #FFEB3B;
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  text-align: center;
  width: 100%;
}

.centre {
  cursor: pointer;
  position: absolute;
  top: 85%;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  width: 2vw;
  height: 50px;
}

.arrow {
  position: absolute;
  top: -50px;
  height: 50px;
  width: 6px;
  animation: animate 1s infinite;
}

.arrow-bottom {
  top: -35px;
}

.arrow:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 15px;
  height: 15px;
  border-bottom: 4px solid #FFEB3B;
  border-right: 4px solid #FFEB3B;
  transform: rotate(45deg);
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
}

#box2 {
  background-color: #e53935;
  color: #FFFFFF;

  a {
    color: #000000;
  }
}

#box2 h2, #box3 h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
}

#homeDiv h2.hide-on-med-and-up {
  font-size: 2rem;
}

#box2 p, #box3 p {
  font-family: Roboto;
  font-size: 1.5rem;
  text-align: center;
}

#box2 .centre {
  top: 185%;
}

#box2 .arrow:before {
  border-right-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

#box3 {
  background-color: #1565c0;
  color: #000000;

  a {
    color: #FFFFFF;
  }

  .arrow:before {
    border-right-color: #000000;
    border-bottom-color: #000000;
  }
}

#box3 .centre {
  top: 285%;
}

#box3 .arrow:before {
  transform: rotate(-135deg);
}

a {
  text-decoration: none;
}

/*
  Contact Me
*/

#contactMeForm {
  border-radius: 4px;
  margin-top: 1rem;
  padding: 1rem;
}

/*
  Sign In and Sign Up pages
*/

#signInContainer {
  display: flex;
  flex-direction: column;
}

#signinDivision, #signupDivision {
  background-color: #FFFFFF;
  background-image: url('/images/textures/groovepaper.png');
  font-family: Roboto;
  padding-top: calc(64px + 1rem);
  padding-bottom: 20px;

  #formDiv {
    background-color: #FFFFFF;
    background-image: url('/images/textures/fabric-of-squares.png');
    padding: 1rem;

    .outlined-text-field + label {
      background-image: url('/images/textures/fabric-of-squares.png');
    }

    .button-container {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    .mdc-button:last-child {
      margin-right: 2rem;
    }

    p {
      font-size: 1rem;
      padding: 0 2rem;

      a {
        color: $mdc-theme-secondary;
      }
    }
  }

  #signInDivider {
    display: flex;
    box-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #242424;
    color: #FFFFFF;
    font-family: Play;

    div:first-child, div:last-child {
      border: 2px solid #FFFFFF;
      border-radius: 2px;
      width: calc(50%);
      height: 0;
    }

    div:nth-child(2) {
      padding: 0 0.5rem;
    }
  }

  #alternateSignInProviders {
    background-color: #242424;
    padding: 1rem;

    p {
      color: #FFFFFF;
      text-align: center;
      width: 100%;
    }

    button {
      @include mdc-button-container-fill-color(#FFFFFF);
      @include mdc-button-corner-radius(3px);
      font-family: Roboto-Medium;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.54);
      height: 40px;
      letter-spacing: 0;
      margin: 1rem 0 1rem 50%;
      padding: 8px;
      text-transform: none;
      transform: translateX(-50%);

      img {
        height: 18px;
        margin-right: 24px;
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  #signinDivision, #signupDivision {
    padding-top: calc(53px + 1rem);
  }
}

#formHeading {
  background-color: #242424;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #FFFFFF;
  font-family: 'Play';
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.outlined-input-field {
  position: relative;

  i {
    position: absolute;
    top: 0.8rem;
  }

  .error-icon, .warning-icon, .helper-text {
    display: none;
  }

  label {
    background-color: #FFFFFF;
    color: #757575;
    cursor: text;
    position: absolute;
    top: 1rem;
    left: 3rem;
  }

  .outlined-text-field {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #00000000;
    border: 1pt solid #757575;
    border-radius: 4px;
    color: #757575;
    margin-left: 2rem;
    padding: 1rem;
    width: calc(100% - 6rem);
  }

  .outlined-text-field:hover, .outlined-select-field:hover {
    border-color: #000000;
  }

  .outlined-text-field:focus, .outlined-select-field:focus {
    border: 2px solid #00A455;
    caret-color: #00A455;
    color: #000000;
    outline: none;
    outline-offset: 0;
    padding: calc(1rem - 1px);

    + label {
      color: #00A455;
    }
  }
}

#signupDivision {
  #password, #confirmPassword {
    width: calc(50% - 5rem);
  }

  #confirmPassword {
    margin-left: 1.5rem;

    + label {
      left: calc(50% + 2rem);
    }
  }
}

.success-input-field {
  .outlined-text-field:focus {
    ~ .helper-text {
      display: initial;
      color: #00A455;
      font-size: 0.75rem;
      position: absolute;
      top: 3.2rem;
      left: 2rem;
    }
  }
}

.error-input-field {
  .outlined-text-field {
    border-color: $error;

    + label {
      color: $error;
    }

    ~ .error-icon {
      display: initial;
      color: $error;
      position: absolute;
      top: 1rem;
      right: 3rem;
    }

    ~ .helper-text {
      display: initial;
      color: $error;
      font-size: 0.75rem;
      position: absolute;
      top: 3.2rem;
      left: 2rem;
    }
  }

  .outlined-text-field:focus {
    border-color: $error;
    caret-color: $error;

    + label {
      color: $error;
    }
  }
}

.warning-input-field {
  .outlined-text-field {
    border-color: $warning;

    + label {
      color: $warning;
    }

    ~ .warning-icon {
      display: initial;
      color: $warning;
      position: absolute;
      top: 1rem;
      right: 3rem;
    }

    ~ .helper-text {
      display: initial;
      color: $warning;
      font-size: 0.75rem;
      position: absolute;
      top: 3.2rem;
      left: 2rem;
    }
  }

  .outlined-text-field:focus {
    border-color: $warning;
    caret-color: $warning;

    + label {
      color: $warning;
    }
  }
}

.outlined-select-field {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #00000000;
  border: 1pt solid #757575;
  border-radius: 4px;
  color: #757575;
  margin-left: 2rem;
  padding: 1rem;
  width: calc(100% - 4rem);

  ~ .dropdown-icon {
    top: 1rem;
    right: 2.5rem;
  }
}

/*
  Profile page
*/

#profile {
  background-color: #FFFFFF;
  padding: 64px 0 0 0;
}

@media only screen and (max-width: 620px) {
  #profile {
    padding-top: 53px;
  }
}

.signedout {
  display: none;
  color: $error;
  font-family: Roboto;
  font-size: 1.5rem;
  padding: calc(20vh) 0;
  text-align: center;

  a {
    color: #000000;
  }
}

.signedin {
  display: none;
  font-family: Roboto;
}

#profileHeader {
  display: flex;
  background-color: $mdc-theme-primary-dark;
  background-image: url('/images/textures/brushed-alum-dark.png');
  background-attachment: fixed;
  color: $mdc-theme-on-primary;
  min-height: calc(20vmin + 2rem);
  padding: 1rem;

  .infoColumn {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding-left: 1rem;

    div:first-child {
      margin-top: 5vmin;
    }

    div div:first-child {
      display: inline;
      color: #000000;
      font-family: Play;

      + div {
        display: inline;
        font-family: cabin;
      }
    }
  }
}

#userPhoto {
  border: 2px solid #000000;
  border-radius: 100%;
  cursor: pointer;
  height: 20vmin;
  width: 20vmin;
}

.username, .password, .email, .phone, .location, .bio {
  padding-left: 0.5rem;
}

@keyframes move_edit_icon {
  0% {transform: none;}
  50% {transform: rotate(-90deg);}
  100% {transform: none;}
}

#profileBody {
  background-color: #FFFFFF;
  background-image: url('/images/textures/dark-denim-3.png');
  min-height: calc(100vh - 64px - 20vmin - 3rem);
  padding: 10px;

  .bio {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mdc-list-item__graphic {
    background-color: $mdc-theme-primary;
    color: $mdc-theme-on-primary;
  }

  .mdc-list-item__meta {
    color: $mdc-theme-primary;
    cursor: pointer;
  }

  .mdc-list-item:nth-child(4):hover, .mdc-list-item:nth-child(5):hover, .mdc-list-item:nth-child(6):hover {
    .mdc-list-item__meta {
      animation: move_edit_icon 1s;
    }
  }

  .mdc-list-item:last-child {
    color: $error;
  }
}

@media only screen and (max-width: 620px) {
  #profileBody {
    min-height: calc(100vh - 53px - 20vmin - 3rem);
  }
}
