#show, #back {
  display: none;
  background-color: #084285;
  border: 1px solid navy;
  color: rgb(196, 231, 255);
  cursor: pointer;
  width: 8em;
}

#show:hover, #back:hover {
  display: none;
  background-color: #00cccc;
  color: navy;
}

#algTable, #algTable td, #algTable th {
  border: 1px solid black;
}

input[type="radio"] {
  opacity: 0;
  width: 0;
  margin: 0;
}

.option {
  cursor: pointer;
  display: inline-block;
}

.box {
  height: 12px;
  width: 12px;
  background: white;
  border: 1px solid;
}

input:checked + .option .row1 {
  height: 2px;
  width: 2px;
  border: 1px solid;
}

input:checked + .option .row2 {
  height: 2px;
  width: 2px;
  border: 1px solid;
  transform: translate(4px, -12px);
}

input:checked + .option .row3 {
  height: 2px;
  width: 2px;
  border: 1px solid;
  transform: translate(8px, -24px);
}

input:checked + .option .green {
  background: green;
}

input:checked + .option .red {
  background: red;
}

input:checked + .option .blue {
  background: blue;
}

input:checked + .option .orange {
  background: orange;
}

input:checked + .option .yellow {
  background: yellow;
}