<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not Found | Cubetastic</title>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
<style>
  #message {
    margin: 10vh 10vw;
    padding: 1px;
  }
</style>
<div id="message" class="card yellow">
  <h3 class="center">404 Not Found</h3>
  <p>
    Oops! Looks like the page you're looking for is not there!
    <br>
    Things you can try:
  </p>
  <ul>
    <li>Go to our <a href="/" class="green-text">home page</a></li>
    <li>Check whether the URL you entered is correct</li>
    <li>If you were redirected from somewhere else, the link might be wrong!</li>
  </ul>
</div>
</body>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</html>
