<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cubetastic | Chat</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
  <header class="z-depth-2">
    <div id="backToGroupsBtn" class="btn-floating btn-large halfway-fab yellow waves-effect waves-light">
      <i class="material-icons exception black-text">keyboard_backspace</i>
    </div>
    <h1 class="center truncate">Collabicube Chat</h1>
    <div class="btn-floating btn-large halfway-fab yellow waves-effect waves-light">
      <i class="material-icons exception black-text">settings</i>
    </div>
  </header>
  <div id="groups">
    <div id="newGroupBtn" class="outlined-btn waves-effect"><i class="material-icons">group_add</i> New Group</div>
    <ul id="groupsList"></ul>
  </div>
  <div id="insideGroup"></div>
  <div id="sendMessage" class="combined-input-field">
    <input type="text" class="browser-default">
    <div id="sendMessageBtn" class="button waves-effect">
      <i class="material-icons">send</i>
    </div>
  </div>
  <noscript>You have disabled JavaScript. Cubetastic cannot work without JavaScript, so please enable it!</noscript>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.1/firebase.js"></script>
<script src="js/chat.js"></script>
</html>