<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="description" content="Welcome to Cubetastic Timer! Do solves using TNoodle scrambles, and sign in to sync your times between devices.">
  <title>Cubetastic | Collabicube</title>
  <link rel="icon" href="images/icons/icon-512x512.png">
  <link rel="apple-touch-icon" href="images/icons/icon-512x512.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play|Iceberg|Unica+One|Atomic+Age|Coda|Contrail+One|Kelly+Slab|Nova+Flat|Nova+Round|Share+Tech+Mono|VT323">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/collabicube.css">
  <link rel="manifest" href="manifest.json">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112091281-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112091281-3');
  </script>
</head>
<body onload="hideloader()">
  <div id="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
  <div id="hidden" style="display: none">
    <header id="collabicubeHeader" class="navbar-fixed">
      <nav class="navbar-extended black">
        <div class="nav-wrapper">
          <a href="/" id="websiteTitle" class="white-text col s3 hide-on-small-only">Cubetastic</a>
          <a href="/" id="smallWebsiteTitle" class="white-text col s3 hide-on-med-and-up">Cubetastic</a>
        </div>
        <div id="loggedStatus"></div>
      </nav>
    </header>
    <div id="collabicube">
      <div class="hide-on-med-and-up yellow red-text" style="padding: 1rem; font-size: 1.25rem;">
        Please view this page in a bigger screen for the best experience!
      </div>
      <iframe src="/chat.html" id="chatIFrame" frameborder="0">
        Your browser doesn't seem to support iframes!
      </iframe>
      <div id="timer" class="hide-on-small-only z-depth-2">
        <div id="red"></div>
        <div id="green"></div>
        <div class="valign-wrapper">
          <div id="time">
            <h1>0:00.000</h1>
          </div>
        </div>
        <div id="collabicubePanel" class="z-depth-2">
          <p class="flow-text">
            Select a group to get started.
          </p>
        </div>
      </div>
    </div>
    <footer class="page-footer grey darken-3">
      <div class="container">
        <div class="row">
          <div class="hide-on-med-and-down footerDividerRight col s6">
            <h5 class="white-text">Cubetastic</h5>
            <p>Property of Cubetastic</p>
            <br><br>
          </div>
          <div class="hide-on-large-only col s6">
            <h5 class="white-text">Cubetastic</h5>
            <p>
              Property of Cubetastic<br>
              Try cubetastic in a desktop. It's even better!
            </p>
          </div>
          <div class="col l3 offset-l1 m3 s12">
            <h5 class="white-text">Contact us</h5>
            Email id: cubetastic33@gmail.com
            <iframe title="github btn" src="https://ghbtns.com/github-btn.html?user=cubetastic33&repo=cubetastic&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170px" height="30px"></iframe><br>
          </div>
        </div>
        <div class="footer-copyright">
          © 2018 | CSS Libraries used: materialize.css, animate.css | Official TNoodle 
          scrambling program has been used to generate scrambles.
        </div>
      </div>
    </footer>
  </div>
  <noscript>You have disabled JavaScript. Cubetastic cannot work without JavaScript, so please enable it!</noscript>
</body>
<script>
  if (navigator.serviceWorker.controller) {
    console.log('Active service worker found, no need to register');
  }
  //Register the ServiceWorker
  navigator.serviceWorker.register('firebase-messaging-sw.js', {
    scope: './'
  }).then(function(reg) {
    console.log('Service worker has been registered for scope:'+ reg.scope);
  });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  function hideloader() {
    $("#sk-cube-grid").hide();
    $("#hidden").show();
    M.AutoInit();
    $('#font').parent().css({'display': 'inline-block', 'width': '70%'});
    $('#theme').parent().css({'display': 'inline-block', 'width': '70%'});
    $('#bgImage').parent().css({'display': 'inline-block', 'width': '70%'});
    if ($(window).width() < 320) {
      $('#time h1').css('font-size', '3em');
    } else if ($(window).width() < 426) {
      $('#time h1').css('font-size', '5em');
    } else {
      $('#time h1').css('font-size', '7em');
    }
    $('#editTimeBtn').css('right', $('#time h1').offset().left - 40);
    $('#scramble').css('top', $('#time h1').offset().top + $('#time h1').height());
    $(window).resize(function() {
      if ($(window).width() < 320) {
        $('#time h1').css('font-size', '3em');
      } else if ($(window).width() < 426) {
        $('#time h1').css('font-size', '5em');
      } else {
        $('#time h1').css('font-size', '7em');
      }
      $('#editTimeBtn').css('right', $('#time h1').offset().left - 40);
      $('#scramble').css('top', $('#time h1').offset().top + $('#time h1').height());
      if ($('#scrambleImage').css('display') == 'none') {
        $('#showscrambleimage').prop('checked', false);
      } else {
        $('#showscrambleimage').prop('checked', true);
      }
    });
  }
</script>
<script src="js/materialize.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.1/firebase.js"></script>
<script src="js/main.js"></script>
<script src="js/tnoodle.js"></script>
<script src="js/collabicube.js"></script>
<script src="js/loggedStatus.js"></script>
<script>
  firebase.auth().onAuthStateChanged(function(user) {
    if (!user) {
      $('#collabicube').html('<p class="flow-text blue-text">Please sign in to use collabicube!</p>');
    }
  });
</script>
</html>
