{% extends 'layout.html' %}

{% block title %}Cubetastic{% endblock %}

{% block body %}
<div id="homeDiv">
  <div id="box1" class="valign-wrapper">
    <p class="center">
      Welcome to cubetastic!
    </p>
    <div class="centre" onclick="window.location.href='#box2'">
      <div class="arrow"></div>
      <div class="arrow arrow-bottom"></div>
    </div>
  </div>
  <div id="box2" class="section scrollspy">
    <div id="actualBox2">
      <h2 class="center">
        Cubetastic Timer
      </h2>
      <p class="center flow-text">
        A timer in the web, that can sync your times across devices! You can customize it
        to look however you want! It can generate TNoodle scrambles for most of the official
        puzzles as well! Click <a href="/timer.html">here</a> to go to the timer.
      </p>
      <div class="centre" onclick="window.location.href='#box3'">
        <div class="arrow"></div>
        <div class="arrow arrow-bottom"></div>
      </div>
    </div>
  </div>
  <div id="box3" class="section scrollspy">
    <div id="actualBox3">
      <h2 class="center">
        Collabicube
      </h2>
      <p class="center flow-text">
        Collaborate with your friends around the world in a cubing showdown! It's Collabicube
        time! Create a group with your friends, and then start solving! All the members in
        the group get the same scramble, you can see each other's times, and chat at the
        same time! Click <a href="/collabicube.html" class="green-text text-accent-2">here</a> to go to the collabicube page.
      </p>
      <div class="centre" onclick="$(window).scrollTop(0)">
        <div class="arrow"></div>
        <div class="arrow arrow-bottom"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    $('#whatIsARubiksCube').addClass('rotateIn');
    $('#row2 a:nth-child(1)').removeClass('hide');
    $('#row2 a:nth-child(1)').addClass('zoomIn');
    $('#row2 a:nth-child(2)').removeClass('hide');
    $('#row2 a:nth-child(2)').addClass('bounceInLeft');
  });
</script>
{% endblock %}