{% extends 'layout.html' %}

{% block title %}Cubetastic | How to install a PWA{% endblock %}

{% block body %}
<div id="division">
  <div class="container">
    <div class="row">
      <h2>Google Chrome</h2>
    </div>
    <div class="row">
      <img src="/images/chrome_install_pwa_desktop.png" alt="google chrome">
    </div>
    <div class="row">
      <p class="flow-text">
        In Google Chrome Desktop, you can add a PWA to your homescreen pretty easily, as shown
        in the above screenshot.
      </p>
    </div>
  </div>
</div>
{% endblock %}
