{% extends 'layout.html' %}

{% block title %}Cubetastic | PDFs{% endblock %}

{% block body %}
<div id="division">
  <h2>PDFs</h2>
  <p>
    Here you will find some PDFs which I've made.
  </p>
  <h3>3x3x3 beginner's method</h3>
  <p>*insert link to PDFs*</p>
  <h3>Fridrich method</h3>
  <p>
    Click <a href="/pdfs/cubetastic_f2l.pdf">here</a> for an F2L PDF.<br>
    Click <a href="/pdfs/cubetastic_2_look_oll.pdf">here</a> for a 2 look OLL PDF.<br>
    Click <a href="/pdfs/cubetastic_oll.pdf">here</a> for an OLL PDF.<br>
    Click <a href="/pdfs/cubetastic_pll.pdf">here</a> for a PLL PDF.<br>
  </p>
</div>
{% endblock %}