{% extends 'layout.html' %}

{% block title %}Cubetastic | Sign in{% endblock %}

{% block body %}
<div id="signinDivision">
  <div id="formHeading">Sign In</div>
  <form id="formDiv" class="z-depth-2">
    <div class="text-field">
      <i class="material-icons">account_circle</i>
      <label for="username" id="usernameLabel">Username</label>
      <input type="text" id="username" class="browser-default outlined-text-field" autocomplete="off">
      <div class="helper-text"></div>
      <i class="material-icons warning-icon">warning</i>
    </div><br>
    <div class="text-field">
      <i class="material-icons">lock</i>
      <label for="password" id="passwordLabel">Password</label>
      <input type="password" id="password" class="browser-default outlined-text-field" readonly onfocus="if (this.hasAttribute('readonly')) {this.removeAttribute('readonly');this.blur();this.focus();}">
    </div><br>
    <div id="signinBtn" class="contained-btn waves-effect z-depth-1" onclick="$('#formDiv').submit()">Sign In</div>
    <div id="forgotPassword" class="text-btn waves-effect">Forgot Password</div><br><br>
    Not a member of Cubetastic yet? <a href="signup.html">Sign up</a> now!
  </form>
</div>
{% endblock %}

{% block javascript %}
<script>
  $('#username').focusin(function() {
    $('#usernameLabel').css({
      'background-color': '#F1F8E9',
      'color': '#00B460',
      'padding': '0 5px',
      'top': '-0.5rem'
    });
  });
  $('#username').focusout(function() {
    $('#usernameLabel').css('color', '#7F7F7F');
    if ($(this).val() == '') {
      $('#usernameLabel').css({
        'background-color': '#F1F8E900',
        'padding': 0,
        'top': '1rem'
      });
    }
  });
  $('#password').focusin(function() {
    $('#passwordLabel').css({
      'background-color': '#F1F8E9',
      'color': '#00B460',
      'padding': '0 5px',
      'top': '-0.5rem'
    });
  });
  $('#password').focusout(function() {
    $('#passwordLabel').css('color', '#7F7F7F');
    if ($(this).val() == '') {
      $('#passwordLabel').css({
        'background-color': '#F1F8E900',
        'padding': 0,
        'top': '1rem'
      });
    }
  });
</script>
{% endblock %}
