{% extends 'layout.html' %}

{% block title %}Cubetastic | Sign up{% endblock %}

{% block body %}
<div id="signupDivision">
  <div id="formHeading">Sign Up</div>
  <form id="formDiv" class="mdc-elevation--z4" onsubmit="signUpUser(event)">
    <div class="outlined-input-field"><i class="material-icons">account_circle</i> <input
      type="text" id="username" class="outlined-text-field" autocomplete="off" required> <label
      for="username">Username</label> <i class="material-icons error-icon">error_outline</i>
      <div class="helper-text"></div>
    </div>
    <br><br>
    <div class="outlined-input-field"><i class="material-icons">email</i> <input type="email"
                                                                                 id="email"
                                                                                 class="outlined-text-field"
                                                                                 autocomplete="off"
                                                                                 required> <label
      for="email">Email</label> <i class="material-icons error-icon">error_outline</i>
      <div class="helper-text"></div>
    </div>
    <br><br>
    <div class="outlined-input-field"><i class="material-icons">lock</i> <input type="password"
                                                                                id="password"
                                                                                class="outlined-text-field"
                                                                                required readonly
                                                                                onfocus="if (this.hasAttribute('readonly')) {this.removeAttribute('readonly');this.blur();this.focus();}">
      <label for="password">Password</label> <input type="password" id="confirmPassword"
                                                    class="outlined-text-field" readonly
                                                    onfocus="if (this.hasAttribute('readonly')) {this.removeAttribute('readonly');this.blur();this.focus();}">
      <label for="confirmPassword">Confirm Password</label> <i class="material-icons error-icon">error_outline</i>
      <div class="helper-text"></div>
    </div>
    <br><br>
    <div class="outlined-input-field"><i class="material-icons">phone</i> <input type="number"
                                                                                 id="phone"
                                                                                 class="outlined-text-field"
                                                                                 autocomplete="off">
      <label for="phone">Phone (optional)</label>
      <div class="helper-text"></div>
    </div>
    <br><br>
    <div class="outlined-input-field"><i class="material-icons">my_location</i> <select
      id="selectLocation" class="outlined-select-field">
      <option value="" disabled selected></option>
      <option value="Afghanistan">Afghanistan</option>
      <option value="Albania">Albania</option>
      <option value="Algeria">Algeria</option>
      <option value="Antarctica">Antarctica</option>
      <option value="Argentina">Argentina</option>
      <option value="Armenia">Armenia</option>
      <option value="Australia">Australia</option>
      <option value="Austria">Austria</option>
      <option value="Bahamas">Bahamas</option>
      <option value="Bangladesh">Bangladesh</option>
      <option value="Belarus">Belarus</option>
      <option value="Belgium">Belgium</option>
      <option value="Bermuda">Bermuda</option>
      <option value="Bhutan">Bhutan</option>
      <option value="Brazil">Brazil</option>
      <option value="Brunei Darussalam">Brunei Darussalam</option>
      <option value="Bulgaria">Bulgaria</option>
      <option value="Cambodia">Cambodia</option>
      <option value="Cameroon">Cameroon</option>
      <option value="Canada">Canada</option>
      <option value="Central African Republic">Central African Republic</option>
      <option value="Chile">Chile</option>
      <option value="China">China</option>
      <option value="Colombia">Colombia</option>
      <option value="Comoros">Comoros</option>
      <option value="Congo">Congo</option>
      <option value="Costa Rica">Costa Rica</option>
      <option value="Croatia">Croatia</option>
      <option value="Cuba">Cuba</option>
      <option value="Czech Republic">Czech Republic</option>
      <option value="Denmark">Denmark</option>
      <option value="Dominican Republic">Dominican Republic</option>
      <option value="Egypt">Egypt</option>
      <option value="El Salvador">El Salvador</option>
      <option value="Estonia">Estonia</option>
      <option value="Ethiopia">Ethiopia</option>
      <option value="Fiji">Fiji</option>
      <option value="Finland">Finland</option>
      <option value="France">France</option>
      <option value="Georgia">Georgia</option>
      <option value="Germany">Germany</option>
      <option value="Ghana">Ghana</option>
      <option value="Greece">Greece</option>
      <option value="Greenland">Greenland</option>
      <option value="Guinea">Guinea</option>
      <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
      <option value="Hong Kong">Hong Kong</option>
      <option value="Hungary">Hungary</option>
      <option value="Iceland">Iceland</option>
      <option value="India">India</option>
      <option value="Indonesia">Indonesia</option>
      <option value="Iraq">Iraq</option>
      <option value="Ireland">Ireland</option>
      <option value="Isle of Man">Isle of Man</option>
      <option value="Israel">Israel</option>
      <option value="Italy">Italy</option>
      <option value="Jamaica">Jamaica</option>
      <option value="Japan">Japan</option>
      <option value="Jersey">Jersey</option>
      <option value="Jordan">Jordan</option>
      <option value="Kazakhstan">Kazakhstan</option>
      <option value="Kenya">Kenya</option>
      <option value="Kuwait">Kuwait</option>
      <option value="Kyrgyzstan">Kyrgyzstan</option>
      <option value="Latvia">Latvia</option>
      <option value="Liberia">Liberia</option>
      <option value="Libya">Libya</option>
      <option value="Lithuania">Lithuania</option>
      <option value="Luxembourg">Luxembourg</option>
      <option value="Macao">Macao</option>
      <option value="Madagascar">Madagascar</option>
      <option value="Malawi">Malawi</option>
      <option value="Malaysia">Malaysia</option>
      <option value="Maldives">Maldives</option>
      <option value="Mali">Mali</option>
      <option value="Malta">Malta</option>
      <option value="Mexico">Mexico</option>
      <option value="Monaco">Monaco</option>
      <option value="Mongolia">Mongolia</option>
      <option value="Montenegro">Montenegro</option>
      <option value="Montserrat">Montserrat</option>
      <option value="Morocco">Morocco</option>
      <option value="Mozambique">Mozambique</option>
      <option value="Myanmar">Myanmar</option>
      <option value="Namibia">Namibia</option>
      <option value="Nauru">Nauru</option>
      <option value="Nepal">Nepal</option>
      <option value="Netherlands">Netherlands</option>
      <option value="New Zealand">New Zealand</option>
      <option value="Nigeria">Nigeria</option>
      <option value="Norway">Norway</option>
      <option value="Pakistan">Pakistan</option>
      <option value="Palau">Palau</option>
      <option value="Panama">Panama</option>
      <option value="Paraguay">Paraguay</option>
      <option value="Peru">Peru</option>
      <option value="Philippines">Philippines</option>
      <option value="Poland">Poland</option>
      <option value="Portugal">Portugal</option>
      <option value="Puerto Rico">Puerto Rico</option>
      <option value="Qatar">Qatar</option>
      <option value="Réunion">Réunion</option>
      <option value="Romania">Romania</option>
      <option value="Russian Federation">Russian Federation</option>
      <option value="Rwanda">Rwanda</option>
      <option value="Saint Barthélemy">Saint Barthélemy</option>
      <option value="Saint Lucia">Saint Lucia</option>
      <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
      <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
      <option value="Samoa">Samoa</option>
      <option value="San Marino">San Marino</option>
      <option value="Sao Tome and Principe">Sao Tome and Principe</option>
      <option value="Saudi Arabia">Saudi Arabia</option>
      <option value="Senegal">Senegal</option>
      <option value="Serbia">Serbia</option>
      <option value="Singapore">Singapore</option>
      <option value="Slovakia">Slovakia</option>
      <option value="Slovenia">Slovenia</option>
      <option value="Solomon Islands">Solomon Islands</option>
      <option value="Somalia">Somalia</option>
      <option value="South Africa">South Africa</option>
      <option value="Spain">Spain</option>
      <option value="Sri Lanka">Sri Lanka</option>
      <option value="Sweden">Sweden</option>
      <option value="Switzerland">Switzerland</option>
      <option value="Syrian Arab Republic">Syrian Arab Republic</option>
      <option value="Tajikistan">Tajikistan</option>
      <option value="Thailand">Thailand</option>
      <option value="Turkey">Turkey</option>
      <option value="Turkmenistan">Turkmenistan</option>
      <option value="Ukraine">Ukraine</option>
      <option value="United Arab Emirates">United Arab Emirates</option>
      <option value="United Kingdom">United Kingdom</option>
      <option value="United States">United States</option>
      <option value="Uruguay">Uruguay</option>
      <option value="Uzbekistan">Uzbekistan</option>
      <option value="Vanuatu">Vanuatu</option>
      <option value="Viet Nam">Viet Nam</option>
      <option value="Western Sahara">Western Sahara</option>
      <option value="Yemen">Yemen</option>
      <option value="Zambia">Zambia</option>
      <option value="Zimbabwe">Zimbabwe</option>
    </select> <label for="selectLocation">Select your location</label> <i
      class="material-icons dropdown-icon">arrow_drop_down</i></div>
    <br><br>
    <div class="button-container">
      <button type="submit" id="signUpButton" class="mdc-button mdc-button--unelevated">Sign Up
      </button>
    </div>
    <p>Already a member of Cubetastic? <a href="signin">Sign in</a> now!</p></form>
</div>
{% endblock %}

{% block javascript %}
<script>
  firebase.auth().onAuthStateChanged(function (user) {
    if (user) {
      signOutUser();
      snackbar.show({message: 'You have been signed out', timeout: 5000});
    }
  });
  mdc.ripple.MDCRipple.attachTo(document.querySelector('#signUpButton'));
  $('#username').focusin(function () {
    $('#username ~ label').animate({
      'fontSize': '0.8rem',
      'top': '-0.7rem',
      'padding': '0.25rem',
    }, 80);
  });
  $('#username').focusout(function () {
    if ($(this).val() === '') {
      $('#username ~ label').animate({'fontSize': '1rem', 'top': '1rem', 'padding': 0}, 80);
    }
  });
  $('#email').focusin(function () {
    $('#email ~ label').animate({'fontSize': '0.8rem', 'top': '-0.7rem', 'padding': '0.25rem'}, 80);
  });
  $('#email').focusout(function () {
    if ($(this).val() === '') {
      $('#email ~ label').animate({'fontSize': '1rem', 'top': '1rem', 'padding': 0}, 80);
    }
  });
  $('#password').focusin(function () {
    $('#password + label').animate({
      'fontSize': '0.8rem',
      'top': '-0.7rem',
      'padding': '0.25rem',
    }, 80);
  });
  $('#password').focusout(function () {
    if ($(this).val() === '') {
      $('#password + label').animate({'fontSize': '1rem', 'top': '1rem', 'padding': 0}, 80);
    }
  });
  $('#confirmPassword').focusin(function () {
    $('#confirmPassword ~ label').animate({
      'fontSize': '0.8rem',
      'top': '-0.7rem',
      'padding': '0.25rem',
    }, 80);
  });
  $('#confirmPassword').focusout(function () {
    if ($(this).val() === '') {
      $('#confirmPassword ~ label').animate({'fontSize': '1rem', 'top': '1rem', 'padding': 0}, 80);
    }
  });
  $('#phone').focusin(function () {
    $('#phone ~ label').animate({'fontSize': '0.8rem', 'top': '-0.7rem', 'padding': '0.25rem'}, 80);
  });
  $('#phone').focusout(function () {
    if ($(this).val() === '') {
      $('#phone ~ label').animate({'fontSize': '1rem', 'top': '1rem', 'padding': 0}, 80);
    }
  });
  $('#selectLocation').change(function () {
    $('#selectLocation ~ label').animate({
      'fontSize': '0.8rem',
      'top': '-0.7rem',
      'padding': '0.25rem',
    }, 80);
  });
  $('#selectLocation').focusout(function () {
    if ($(this).val() === null) {
      $('#selectLocation ~ label').animate({'fontSize': '1rem', 'top': '1rem', 'padding': 0}, 80);
    }
  });
</script>
{% endblock %}
