{% extends 'layout.html' %}

{% block title %}Cubetastic | Train{% endblock %}

{% block body %}
<div class="division">
  <h2>Train</h2>
  <div id="reset">
    <div id="trainScramble">
      <button onclick="generatePll()">PLL scramble</button><br><br>
      <button onclick="generateOll()">OLL scramble</button><br><br>
    </div>
    <br><div id="show" onclick="show()">Show solution</div><br>
    <div id="back" onclick="goBack()">Back</div>
  </div>
  <div id="selectKnown">
    <button class="selectAlgs" onclick="showTable()">Select the algs you already now</button>
    <table id="algTable" style="display: none;">
      <tr>
        <th>Type</th>
        <th>Algorithm</th>
        <th><label>
          I think I know this alg,<br> test me on this!
        </label></th>
        <th><label>
          I already learnt this alg,<br> no need to test me on this.
        </label></th>
        <th><label>
          I don't know this alg.
        </label></th>
      </tr>
    </table>
    <button id="noTable" style="display: none" onclick="hideTable()">Back</button>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="js/algs.js"></script>
<script src="js/selectknown.js"></script>
<script src="js/train.js"></script>
<script>createTable();alert('This page is NOT ready yet.')</script>
{% endblock %}